body {
  background-color: #000000ef;
  background-image: url(file_000000005f186243bfe06f0e4ced42ca-removebg-preview.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 90% 120px ;
  background-size: contain;
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(255, 255, 255, 0.845);
  font-size: adjustable;
}
section {
  text-align: center;
  padding: 0rem 2rem;
}
section a{
  display: inline-block;
  position: absolute;
  left: 25px;
  color: white;
}
ol {
  text-align: left;
}
.impact{
    text-align: left
}
.videos{
    overflow-x: hidden;
    padding-top: 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.2rem;
    justify-content: center;
}
video{
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.div-video{
    display: flex;
    flex-direction: column;
}