body {
  background-image: url(file_000000005f186243bfe06f0e4ced42ca-removebg-preview.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 85% 95px;
  background-size: contain;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #000000e8;
}
html {
  scroll-behavior: smooth;
}
header {
  background-color: #000000;
  display: flex;
  position: fixed;
  transition: 0.5s ease;
  opacity: 0;
  animation: head 0.5s ease-in forwards;
  animation-delay: calc(0.2s * var);
  flex-direction: row;
  justify-content: space-around;
  padding: 10px 0px;
  height: 2.2rem;
  width: 100vw;
  overflow: hidden;
  z-index: 1;
  align-items: center;
}
@keyframes head {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
header > h1 {
  font-weight: 800;
  animation: logo 1s ease forwards;
  cursor: pointer;
  font-size: 1.3rem;
  opacity: 20px;
  background: linear-gradient(to right, #f32170, #ff6b08, #cf23cf, #eedd44);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-family: Arial, Helvetica, sans-serif;
}
@keyframes logo {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
header > nav {
  flex: 0.5;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
nav > a {
  text-decoration: none;
  color: #eedd44bb;
  font-family: sans-serif;
  font-size: 1.2em;
  transition: 0.3s;
  opacity: 10px;
  animation: nav 0.9s ease forwards;
  animation-delay: calc(0.2s * var(..1));
}
@keyframes nav {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
nav > a:hover {
  color: #f32170;
}
header > a {
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 500;
  color: #cf23cf;
  background-color: #eedd44bb;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 40px;
  padding: 9px 20px;
  transition: 0.5s;
  opacity: 0;
  animation: a 0.7s ease-in forwards;
}
@keyframes a {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
header > a:hover {
  background-color: #f32170;
  color: #eedd44;
}
/* ----------HOME SECTION---------- */

.section1 {
  height: 100vh;
  color: white;
}
.div1 {
  padding: 12rem 0rem 0rem 7rem;
}
.div1 h3 {
  font-size: 2.6rem;
  margin: 0px;
  padding: 0px;
  color: rgba(255, 255, 255, 0.881);
  font-weight: 600;
  opacity: 0;
  animation: h3 0.7s ease forwards;
  animation-delay: 0.5s;
}
@keyframes h3 {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
.div1 h1 {
  font-size: 4rem;
  margin: 0px;
  padding: 0px;
  color: #eedd44a7;
  font-weight: 600;
  opacity: 0;
  animation: h3 0.7s ease forwards;
  animation-delay: 1.04s;
}
.div1 p {
  font-size: 1.02rem;
  color: rgba(255, 255, 255, 0.655);
  line-height: 22px;
  animation: p 0.7s ease-in forwards;
  animation-delay: 1.14s;
  opacity: 0;
}
@keyframes p {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
.div2 {
  display: flex;
  gap: 15px;
  animation: a 0.7s ease forwards;
  animation-delay: 1.3s;
  opacity: 0;
  transition: transform 0.5s ease;
}
.div2 a {
  opacity: 1;
  transition: transform 0.5s ease;
}
.div2 a:hover {
  transform: scale(1.2);
}
button {
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 500;
  color: #cf23cf;
  background-color: #eedd44bb;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 13px;
  padding: 9px 20px;
  transition: 0.5s;
  opacity: 0;
  animation: logo 1s ease forwards;
}
button:hover {
  background-color: #f32170;
  color: #eedd44;
}

/* ----------ABOUT ME---------- */
.section2 {
  text-align: center;
  height: 95vh;
  background-color: #000000e8;
  padding: 3rem 0rem 0rem 7rem;
  color: rgba(255, 255, 255, 0.722);
}
#div {
  display: flex;
  background-color: #000000e8;
  border-radius: 5% 0%;
}
.div3 > img {
  border-radius: 5% 0%;
  height: 30rem;
  width: 30rem;
  animation: logo 1s ease-in;
}
.div4 {
  text-align: left;
  font-size: 1.1rem;
  padding: 1rem 4rem 0rem 2rem;
  animation: a 1s ease-in forwards;
}
.div4 p {
  animation: a 1s ease-in;
  animation-delay: 0.2s;
  color: rgba(255, 255, 255, 0.633);
}
.div4 a {
  animation: logo 1s ease-in;
  animation-delay: 6s;
  visibility: hidden;
}
.section2 > h1 {
  font-size: 4rem;
}
/* ----------MY SERVICES---------- */
.section3 {
  text-align: center;
  background-color: #000000e8;
  color: rgba(255, 255, 255, 0.727);
  padding: 2rem 0rem 7rem 0rem;
}
.section3 > h1 {
  font-size: 4rem;
}
.section3 > div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  padding: 0rem 3rem 0rem 3rem;
  animation: nav 0.7s ease forwards;
  animation-delay: 2s;
}
.section3 > div h2 {
  color: rgba(255, 255, 255, 0.664);
  margin: 0rem;
  transform-origin: center;
  text-align: left;
}
.section3 > div p {
  color: rgba(255, 255, 255, 0.518);
  text-align: left;
  transform-origin: center;
}
.web {
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem 1rem 1rem;
  background-color: #f3217291;
  transition: transform 0.3s ease;
  border-radius: 10px;
}
.section3 > div > div:hover {
  transform: translateY(-0.7rem);
}
/* --------------------MY SKILLS------------------- */
.section4 {
  background-color: #000000cc;
  color: rgba(255, 255, 255, 0.727);
  padding: 2rem 4rem 9rem 4rem;
}
.section4 > h1 {
  font-size: 4rem;
  text-align: center;
}
.section4 > div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 1rem 0rem 0rem 2rem;
}
.sk{
  padding: 9px 0px 0px 0px;
}
.tech{
  margin: 0px;
  padding: 0px;
}
.full{
  margin: 0px;
  padding: 0px;
}
.hh{
  margin-bottom: 30px;
}
.progress-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.progress-container {
  width: 120px;
  height: 120px;
  position: relative;
  margin-bottom: 50px;
}

.progress {
  width: 100%;
  height: 100%;
  transform: rotate(-90deg);
}

.bg {
  fill: none;
  stroke: rgba(255, 255, 255, 0.816);
  stroke-width: 3.2;
}

.indicator {
  fill: none;
  stroke: #cf23cfb9;
  stroke-width: 3.2;
  stroke-linecap: round;
  stroke-dasharray: 0 100;
  transition: stroke-dasharray 1s ease;
}

.label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 22px;
  font-weight: bold;
}

.bar {
  width: 70%;
  background: rgba(255, 255, 255, 0.816);
  height: .6rem;
  border: none;
  border-radius: 100vw;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0.25, 8, 0.25, 1);
}
.skill {
  align-items: center;
  margin-bottom: 30px;
}
.bar span {
  height: .6rem;
  float: left;
  background: #cf23cfb9;
  border: none;
  border-radius: 100vw;
}
/* adding animation to skill bar */

.Full-Stack.animate,
.workflow.animate {
  width: 87%;
  animation: full 3s;
}

.lead.animate {
  width: 93%;
  animation: lead 3s;
}

.crm.animate {
  width: 70%;
  animation: crm 3s;
}

@keyframes full {
  0% {
    width: 0%;
  }

  100% {
    width: 87%;
  }
}

@keyframes lead {
  0% {
    width: 0%;
  }

  100% {
    width: 93%;
  }
}

@keyframes crm {
  0% {
    width: 0%;
  }

  100% {
    width: 70%;
  }
}
.percentage {
  content: "";
  top: 12px;
  width: 25px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  border-radius: 2px;
  z-index: 1;
  transition: all 0.3s ease-in-out;
}

.percentage::after {
  content: "";
  top: 15px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  margin: auto;
  width: 10px;
  height: 10px;
  z-index: -1;
}
.full-percentage.animate,
.work-percentage.animate {
  left: 87%;
  animation: html_css_percentage 3s;
}

.lead-percentage.animate {
  left: 93%;
  animation: javascript_percentage 3s;
}

.crm-percentage.animate {
  left: 70%;
  animation: react_percentage 3s;
}
@keyframes html_css_percentage {
  0% {
    left: 0;
  }
  100% {
    left: 87%;
  }
}

@keyframes javascript_percentage {
  0% {
    left: 0;
  }
  100% {
    left: 93%;
  }
}

@keyframes react_percentage {
  0% {
    left: 0;
  }
  100% {
    left: 70%;
  }
}
